.box{
    width:200px; 
    height: 200px;
    background-color: skyblue;
    text-align:center;
    line-height: 200px;
}

.margin-auto{ 
    width:1200px; 
    margin:auto; 
}

.layout-flex{
    display: flex;
    gap:10px;
    justify-content: space-between;
}